<form action="/add_player" method="post" id="player-registration-form">
    <label for="">Nome:</label>
    <input type="text" class="form-control" name="name" autocomplete="off">
    <button type="submit" class="btn btn-primary">Cadastrar</button>
</form>