{{#player}}
<form action="/update_player/{{id}}" method="post" id="player-registration-form">
    <label for="">Nome:</label>
    <input type="text" class="form-control" name="name" autocomplete="off" value="{{name}}">
    <button type="submit" class="btn btn-success">Editar</button>
</form>
{{/player}}